version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/.github/workflows/"
    schedule:
      interval: daily
    allow:
      - dependency-type: "direct" # Update only direct dependencies
