name: CI/CD Workflow

on:
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write
  checks: write
  deployments: write

jobs:
  update:
    name: Update from upstream
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        
      - name: Run Update Action
        uses: RoundSalmon4/blended-strawberry/.github/workflows/update.yml@master  # Action using correct path

  modify_git_revision:
    name: Modify Git Revision
    runs-on: ubuntu-latest
    needs: update
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        
      - name: Set INCLUDE_GIT_REVISION to OFF
        run: |
          sed -i 's/set(INCLUDE_GIT_REVISION ON)/set(INCLUDE_GIT_REVISION OFF)/' cmake/Version.cmake

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: modify_git_revision
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Run Build Action
        uses: RoundSalmon4/blended-strawberry/.github/workflows/build.yml@master  # Updated correct path

  codeberg:
    name: Sync Codeberg Repo
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        
      - name: Run Codeberg Action
        uses: RoundSalmon4/blended-strawberry/.github/workflows/codeberg.yml@master  # Updated correct path

  codeberg_release:
    name: Add Codeberg Release
    runs-on: ubuntu-latest
    needs: codeberg
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        
      - name: Run Codeberg Release Action
        uses: RoundSalmon4/blended-strawberry/.github/workflows/codeberg_release.yml@master  # Updated correct path

  codeberg_notes:
    name: Add Codeberg Notes
    runs-on: ubuntu-latest
    needs: codeberg_release
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        
      - name: Run Codeberg Notes Action
        uses: RoundSalmon4/blended-strawberry/.github/workflows/codeberg_notes.yml@master  # Updated correct path

  reset_git_revision:
    name: Reset Git Revision
    runs-on: ubuntu-latest
    needs: codeberg_notes
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set INCLUDE_GIT_REVISION to ON
        run: |
          sed -i 's/set(INCLUDE_GIT_REVISION OFF)/set(INCLUDE_GIT_REVISION ON)/' cmake/Version.cmake

  dummy:
    name: Dummy Job to Prevent Completion
    runs-on: ubuntu-latest
    needs: [update, modify_git_revision, build, codeberg, codeberg_release, codeberg_notes, reset_git_revision]
    steps:
      - name: Exit
        run: exit 1  # This will cause the job to fail
