name: CI/CD Workflow

on:
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write
  checks: write
  deployments: write

jobs:
  update:
    name: Update from upstream
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        
      - name: Run Update Action
        uses: RoundSalmon4/update@master  # Action format should be correct

  modify_git_revision:
    name: Modify Git Revision
    runs-on: ubuntu-latest
    needs: update
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        
      - name: Set INCLUDE_GIT_REVISION to OFF
        run: |
          sed -i 's/set(INCLUDE_GIT_REVISION ON)/set(INCLUDE_GIT_REVISION OFF)/' cmake/Version.cmake

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: modify_git_revision
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Run Build Action
        uses: RoundSalmon4/blended-strawberry@master  # Pointing to the correct repository

  codeberg:
    name: Sync Codeberg Repo
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        
      - name: Run Codeberg Action
        uses: RoundSalmon4/codeberg@master  # Assuming correct repo

  codeberg_release:
    name: Add Codeberg Release
    runs-on: ubuntu-latest
    needs: codeberg
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        
      - name: Run Codeberg Release Action
        uses: RoundSalmon4/codeberg_release@master  # Assuming correct repo

  codeberg_notes:
    name: Add Codeberg Notes
    runs-on: ubuntu-latest
    needs: codeberg_release
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        
      - name: Run Codeberg Notes Action
        uses: RoundSalmon4/codeberg_notes@master  # Assuming correct repo

  reset_git_revision:
    name: Reset Git Revision
    runs-on: ubuntu-latest
    needs: codeberg_notes
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set INCLUDE_GIT_REVISION to ON
        run: |
          sed -i 's/set(INCLUDE_GIT_REVISION OFF)/set(INCLUDE_GIT_REVISION ON)/' cmake/Version.cmake
